@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-size: 100%;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
.hiddenn {
    display: none;
}

.current-tab {
    background-color: rgba(219, 226, 239, 0.5);    
}
@media (max-width: 640px) {
    html {
        font-size: 81.25%;
    }
}
